.accountCardImage{
    margin: 2vh auto;
    height: 7vh;
    width: 11vw;
}


.headerButton{
    font-size: 10px;
  }

.item{
    width: 15%;
}
.algoBox{
    height: 35vh;
    width: 100%;
    overflow:auto;
}
.red{
        height: 10px;
        width: 10px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
}
.green{
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.algoItem{
    width: 11.5%;
    margin: 0;
}   

.redText{
    color: red;
    font-size: large;
}
.greenText{
    color: green;
    font-size: large;
}

.box-shadow-style {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

